<!doctype html>
<html lang="en">
<head>
    <title>로그인 등록</title>
</head>
<body>
    <h1>로그인 등록폼</h1>
    <form action="/register" method="post">
        사용자ID : <input type="text" name="userId" value="luxury"><br>
        패스워드 : <input type="password" name="password" value="1234"><br>

        <input type="submit" value="register">
    </form>
</body>
</html>