<!doctype html>
<html lang="en">
<head>
    <title>파라미터 요청</title>
</head>
<body>

<h1>파라미터 요청 처리</h1>
<a href="register?userId=iu486&password=1234">
    register?userId=iu486&amp;password=1234
</a>
<br>

</body>
</html>